@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using GCCorePSAV.Models
@using GCCorePSAV.Controllers.Services
@using Syncfusion.JavaScript
@using Syncfusion.JavaScript.DataVisualization
@using Syncfusion.MVC.EJ
@using Syncfusion.Linq
@model ItemListModel.ItemListEventModel
@inject LoggedInComponent Lgc
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@await Lgc.IsAuth(HttpContextAccessor.HttpContext.Request.Cookies["Bearer"], HttpContextAccessor.HttpContext.Request.Cookies["pandoraRules"])
@if (Lgc.isAuth)
{
    <script type="text/javascript">
        function submitForm() {
            var form = document.forms['myForm'];
            // form.action = 'put your url here';
            var el = document.createElement("input");
            el.type = "hidden";
            el.name = "AddCat";
            el.value = "1";
            form.appendChild(el);
            form.submit();
        }
        function submitForm2() {
            var form = document.forms['myForm'];
            // form.action = 'put your url here';
            var el = document.createElement("input");
            el.type = "hidden";
            el.name = "AddOne";
            el.value = "1";
            form.appendChild(el);
            form.submit();
        }
        function submitForm3() {
            var form = document.forms['myForm'];
            // form.action = 'put your url here';
            var el = document.createElement("input");
            el.type = "hidden";
            el.name = "AddOne";
            el.value = "2";
            form.appendChild(el);
            form.submit();
        }
        function submitForm4() {
            var form = document.forms['myForm'];
            // form.action = 'put your url here';
            var el = document.createElement("input");
            el.type = "hidden";
            el.name = "AddOne";
            el.value = "3";
            form.appendChild(el);
            form.submit();
        }
    </script>
    <br />
    <div class="container-fluid">
        <form method="post" asp-action="NIL" asp-controller="PSAV" name="myForm">
            <input type="hidden" name="Advance" id="Advance" value="0" />
            <div class="row">
                <h5>Detalle Evento</h5>
                <hr />
                <h6>Datos del Evento</h6>
                <table border="0" class="table" width="100%">
                    <thead>
                        <tr><th>Evento</th></tr>
                    </thead>
                    <tr>
                        <td><div class="form-group"><label asp-for="EventoName" class="control-label"></label><input asp-for="EventoName" class="form-control" disabled value="@HttpContextAccessor.HttpContext.Request.Cookies["EVN"]" /></div></td>
                    </tr>
                    <tr>
                        <th>Salon</th>
                    </tr>
                    <tr><td><div class="form-group"><input asp-for="Salon" class="form-control" /></div></td></tr>
                    <tr>
                        <th># Asistentes</th>
                    </tr>
                    <tr><td><div class="form-group"><input asp-for="Asistentes" class="form-control" /></div></td></tr>
                    <tr>
                        <th>Fecha Montaje</th>
                    </tr>
                    <tr><td><div class="form-group"><input asp-for="Montaje" class="form-control" /></div></td></tr>
                    <tr>
                        <th>Horario</th>
                    </tr>
                    <tr><td><div class="form-group"><input asp-for="Horario" class="form-control" /></div></td></tr>
                </table>
            </div>
            <div class="row">
                <table width="100%">
                    <tr>
                        <td width="25%">
                            <span>Categoria</span>
                            <ej-drop-down-list id="Categoria" datasource="ViewBag.datasourceC" watermark-text="Seleccione Categoria" cascade-to="SubCategoria" width="100%">
                                <e-drop-down-list-fields text="Nombre" id="ParentID" value="ParentID" />
                            </ej-drop-down-list>
                        </td>
                        <td width="25%">
                            <span>SubCategoría</span>
                            <ej-drop-down-list id="SubCategoria" datasource="ViewBag.datasourceSC" watermark-text="Seleccione Subcategoria" cascade-to="Item" width="100%">
                                <e-drop-down-list-fields text="Nombre" id="SCID" value="SCID" />
                            </ej-drop-down-list>
                        </td>
                        <td width="50%">
                            <span>Item</span>
                            <ej-drop-down-list id="Item" datasource="ViewBag.datasourceI" watermark-text="Seleccione Item" width="100%">
                                <e-drop-down-list-fields text="descripcion" id="ID" value="ID" />
                            </ej-drop-down-list>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-default" value="AddCat" type="submit" onclick="submitForm(); return false">Agregar</button>
                        </td>
                    </tr>
                    <tr width="100%">
                        <td colspan="3">
                            <ej-grid id="FlatGrid" allow-paging="true">
                                <e-datamanager json="(IEnumerable<object>)ViewBag.datasourceILI" update-url="ILU" remove-url="ILD" adaptor="remoteSaveAdaptor" />
                                <e-edit-settings allow-adding="true" allow-editing="true" allow-deleting="true" edit-mode="@(EditMode.InlineForm)"></e-edit-settings>
                                <e-toolbar-settings show-toolbar="true" toolbar-items="@(new List<string>() { "edit", "delete", "update", "cancel" })"></e-toolbar-settings>
                                <e-columns>
                                    <e-column field="ID" header-text="ID" is-identity="true" is-primary-key="true" validation-rules='new Dictionary<string, object>() { {"required",true}, {"number",true} }' text-align="Right" width="75"></e-column>
                                    <e-column field="Categoria" header-text="Categoria" validation-rules='new Dictionary<string, object>() { {"required",true} }' text-align="Right" width="75"></e-column>
                                    <e-column field="Subcategoria" header-text="Subcategoria" validation-rules='new Dictionary<string, object>() { {"required",true}, {"minlength",1} }' width="80"></e-column>
                                    <e-column field="Descripcion" header-text="Descripcion" validation-rules='new Dictionary<string, object>() { {"required",true}, {"minlength",1} }' text-align="Right" width="75"></e-column>
                                    <e-column field="Incluye" header-text="Incluye" validation-rules='new Dictionary<string, object>() { {"required",true}, {"minlength",1} }' width="80"></e-column>
                                    <e-column field="PrecioUnit" header-text="Precio" validation-rules='new Dictionary<string, object>() { {"required",true}, {"minlength",1} }' text-align="Right" width="75"></e-column>
                                    <e-column field="Cantidad" header-text="Cantidad" validation-rules='new Dictionary<string, object>() { {"required",true}, {"minlength",1} }' text-align="Right" width="75"></e-column>
                                </e-columns>
                            </ej-grid>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <table border="0" class="table" width="100%">
                    <thead>
                        <tr><th>Mano de obra</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <ej-grid id="FlatGrid2" allow-paging="true">
                                    <e-datamanager json="(IEnumerable<object>)ViewBag.datasource2" update-url="ItemListWFNormalUpdate" insert-url="ItemListWFNormalInsert" remove-url="ItemListWFNormalDelete" adaptor="remoteSaveAdaptor" />
                                    <e-edit-settings allow-adding="true" allow-editing="true" allow-deleting="true" edit-mode="@(EditMode.Dialog)"></e-edit-settings>
                                    <e-toolbar-settings show-toolbar="true" toolbar-items="@(new List<string>() { "add", "edit", "delete", "update", "cancel" })"></e-toolbar-settings>
                                    <e-columns>
                                        <e-column field="ID" header-text="ID" is-identity="true" is-primary-key="true" validation-rules='new Dictionary<string, object>() { {"required",true}, {"number",true} }' text-align="Right" width="75"></e-column>
                                        <e-column field="Seccion" header-text="Seccion" validation-rules='new Dictionary<string, object>() { {"required",true}}' text-align="Right" width="75"></e-column>
                                        <e-column field="Clave" header-text="Clave" validation-rules='new Dictionary<string, object>() { {"required",true}}' text-align="Right" width="75"></e-column>
                                        <e-column field="Cantidad" header-text="Cantidad" validation-rules='new Dictionary<string, object>() { {"required",true}, {"minlength",1} }' width="80"></e-column>
                                        <e-column field="Dias" header-text="Dias" validation-rules='new Dictionary<string, object>() { {"required",true}, {"minlength",1} }' text-align="Right" width="75"></e-column>
                                        <e-column field="Descripcion" header-text="Descripcion" validation-rules='new Dictionary<string, object>() { {"required",true}, {"minlength",1} }' width="80"></e-column>
                                        <e-column field="PrecioUnit" header-text="PrecioUnit" validation-rules='new Dictionary<string, object>() { {"required",true}, {"minlength",1} }' text-align="Right" width="75"></e-column>
                                        <e-column field="Categoria" header-text="Categoria" foreign-key-field="Categoria" foreign-key-value="Categoria" datasource="ViewBag.datasourcedrop2" edit-type="Dropdown"></e-column>
                                    </e-columns>
                                </ej-grid>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table border="0">
                <tr><td><button type="submit" class="btn btn-default" value="AddOne" onclick="submitForm2(); return false">Guardar cambios y agregar salón</button></td></tr>
                <tr><td><button type="submit" class="btn btn-default" value="AddOne" onclick="submitForm3(); return false">Guardar y avanzar</button></td></tr>
                <tr><td><button type="submit" class="btn btn-default" value="AddOne" onclick="submitForm4(); return false">Guardar borrador</button></td></tr>
            </table>
        </form>
    </div>
}
